<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FamilyTime</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FamilyTime - Dashboard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb914150718650813</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.181235234645-bfr0co1kg4bn179g0rgec24tk1374v1t</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.familytime.dashboard</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.familytime.dashboard</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>emailVerification</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dashboard.familytime.io</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
	<true/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_STORAGE</key>
	<true/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_USER_DATA</key>
	<true/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_ANALYTICS_STORAGE</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>FamilyTime needs a Profile Image to enhance the user experience for its Profile feature. FamilyTime does not share user data with others. Please allow camera permission for better user experience.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>FamilyTime needs a location to enhance the user experience for its FamilyLocator and Geofence features. FamilyTime does not share user location with others. Please allow location permission for better user experience. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>FamilyTime needs a location to enhance the user experience for its FamilyLocator and Geofence features. FamilyTime does not share user location with others. Please allow location permission for better user experience. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FamilyTime needs a location to enhance the user experience for its FamilyLocator and Geofence features. FamilyTime does not share user location with others. Please allow location permission for better user experience. </string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FamilyTime needs a Profile Image to enhance the user experience for its Profile feature. FamilyTime does not share user data with others. Please allow photo permission for better user experience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FamilyTime needs a Profile Image to enhance the user experience for its Profile feature. FamilyTime does not share user data with others. Please allow photo permission for better user experience.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Open 24 Display St.ttf</string>
		<string>Dosis-Medium_0.ttf</string>
		<string>Dosis-Bold_0.ttf</string>
		<string>Dosis-Light_0.ttf</string>
		<string>Dosis-Regular_0.ttf</string>
		<string>Dosis-SemiBold_0.ttf</string>
		<string>Dosis-ExtraBold_0.ttf</string>
		<string>Dosis-ExtraLight_0.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-CondBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-CondLightItalic.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
