<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings_card_1_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_contacts</string>
			<key>label</key>
			<string>settings_card_1_android_3</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_location</string>
			<key>label</key>
			<string>settings_card_1_android_4</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_apps_orange</string>
			<key>label</key>
			<string>settings_card_1_android_5</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
	</array>
	<key>settings_card_2_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_apps_blocker_green</string>
			<key>label</key>
			<string>settings_card_2_android_2</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_limit_screen</string>
			<key>label</key>
			<string>settings_card_2_android_3</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_content_filter</string>
			<key>label</key>
			<string>ssettings_card_2_ios_3</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_places</string>
			<key>label</key>
			<string>settings_card_2_android_6</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_speed_limit</string>
			<key>label</key>
			<string>ssettings_card_2_ios_5</string>
			<key>righticon</key>
			<string></string>
		</dict>
	</array>
<!-- For adding Notification section un comment the following code-->
<!--	<key>settings_card_3_title</key>-->
<!--	<array>-->
<!--		<dict>-->
<!--			<key>lefticon</key>-->
<!--			<string>ic_places_alerts</string>-->
<!--			<key>label</key>-->
<!--			<string>settings_card_3_android_1</string>-->
<!--			<key>righticon</key>-->
<!--			<string>icon2.png</string>-->
<!--		</dict>-->
<!--		<dict>-->
<!--			<key>lefticon</key>-->
<!--			<string>ic_pickmeup_alerts</string>-->
<!--			<key>label</key>-->
<!--			<string>pickmealert</string>-->
<!--			<key>righticon</key>-->
<!--			<string>icon2.png</string>-->
<!--		</dict>-->
<!--		<dict>-->
<!--			<key>lefticon</key>-->
<!--			<string>ic_speed_limit_alerts</string>-->
<!--			<key>label</key>-->
<!--			<string>settings_card_3_ios_2</string>-->
<!--			<key>righticon</key>-->
<!--			<string>icon2.png</string>-->
<!--		</dict>-->
<!--	</array>-->
	<key>settings_card_4_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_device</string>
			<key>label</key>
			<string>settings_content_3_sub_content_1</string>
			<key>righticon</key>
			<string></string>
		</dict>
	</array>
	<key>settings_card_5_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_sync</string>
			<key>label</key>
			<string>settings_card_5_1</string>
			<key>righticon</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
