<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings_card_1_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_calls</string>
			<key>label</key>
			<string>settings_card_1_android_1</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_messages</string>
			<key>label</key>
			<string>settings_card_1_android_2</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_contacts</string>
			<key>label</key>
			<string>settings_card_1_android_3</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_location</string>
			<key>label</key>
			<string>settings_card_1_android_4</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_apps_orange</string>
			<key>label</key>
			<string>settings_card_1_android_5</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_safeInternet</string>
			<key>label</key>
			<string>settings_card_1_android_6</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_web (1)</string>
			<key>label</key>
			<string>Web History</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_youtube (1)</string>
			<key>label</key>
			<string>YouTube</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_tiktok (1)</string>
			<key>label</key>
			<string>TikTok</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
	</array>
	<key>settings_card_2_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>lst_limit_screen</string>
			<key>label</key>
			<string>settings_card_2_android_1</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_apps_blocker_green</string>
			<key>label</key>
			<string>settings_card_2_android_2</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_limit_screen</string>
			<key>label</key>
			<string>settings_card_2_android_3</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>se_internet_schedule</string>
			<key>label</key>
			<string>settings_card_2_android_4</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>se_internet_filter</string>
			<key>label</key>
			<string>settings_card_2_android_5</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_places</string>
			<key>label</key>
			<string>settings_card_2_android_6</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_funtime</string>
			<key>label</key>
			<string>settings_card_2_android_7</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_contact_watchlist</string>
			<key>label</key>
			<string>settings_card_2_android_8</string>
			<key>righticon</key>
			<string></string>
		</dict>
	</array>
	<key>settings_card_4_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_device</string>
			<key>label</key>
			<string>settings_content_3_sub_content_1</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_device_passcode</string>
			<key>label</key>
			<string>settings_android_content_3_sub_content_2</string>
			<key>righticon</key>
			<string></string>
		</dict>
		<dict>
			<key>lefticon</key>
			<string>ic_hide_notification</string>
			<key>label</key>
			<string>settings_android_content_3_sub_content_3</string>
			<key>righticon</key>
			<string>icon2.png</string>
		</dict>
	</array>
	<key>settings_card_5_title</key>
	<array>
		<dict>
			<key>lefticon</key>
			<string>ic_sync</string>
			<key>label</key>
			<string>settings_card_5_1</string>
			<key>righticon</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
