# macOS
.DS_Store

# CocoaPods
Pods/

# Xcode build output & user state
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.apns

# Secrets (inject at build time)
Config.xcconfig
